# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Generated database files (created by execution/seed_database.py)
data/*.db

# OS / editor noise
.DS_Store
Thumbs.db
.vscode/
